{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<h1>Introducing SNAPS</h1>
<div class="row">
{% for img in images %}
<img src="{{img.image_link.url}}" class="img-responsive my_Img" alt="{{image.name}}" width="300" height ="200">
  <div id="Modal_pic" class="modal">

  <!-- The Close Button -->
    <span class="close">&times;</span>
    {{image.image_link.url}}
  <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img1">

  <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>
</div>

{% endfor %}
{% endblock %}
